body{
    background: rgb(71, 163, 248);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.603);
}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}